.gradient-container {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    background:
    repeating-linear-gradient(
      190deg,
      rgb(255 72 0 / 50%) 40px,
      rgb(255 153 0 / 50%) 80px,
      rgb(255 182 86 / 50%) 120px,
      rgba(101, 139, 255, 0.5) 160px,
      rgba(0, 119, 255, 0.5) 200px,
      rgba(3 8 102 / 50%) 240px,
      rgb(0 0 255 / 50%) 280px,
      rgb(255 72 0 / 50%) 300px
    ),
    repeating-linear-gradient(
      -190deg,
      rgb(255 72 0 / 50%) 30px,
      rgb(255 153 0 / 50%) 60px,
      rgb(255 182 86 / 50%) 90px,
      rgba(101, 101, 255, 0.5) 120px,
      rgba(0, 128, 255, 0.5) 150px,
      rgb(3 8 102 / 50%) 180px,
      rgb(0 0 255 / 50%) 210px,
      rgb(255 72 0 / 50%) 230px
    ),
    repeating-linear-gradient(
        -180deg,
        rgb(255 72 0 / 50%) 30px,
        rgb(255 153 0 / 50%) 60px,
        rgb(255 182 86 / 50%) 90px,
        rgba(101, 101, 255, 0.5) 120px,
        rgba(0, 128, 255, 0.5) 150px,
        rgb(3 8 102 / 50%) 180px,
        rgb(0 0 255 / 50%) 210px,
        rgb(255 72 0 / 50%) 230px
      ),
    repeating-linear-gradient(
      23deg,
      rgb(255 72 0) 50px,
      rgb(255 153 0) 100px,
      rgb(255 182 86) 150px,
      rgb(111, 101, 255) 200px,
      rgb(0, 140, 255) 250px,
      rgba(3 8 102) 300px,
      rgb(0 0 255) 350px,
      rgb(255 72 0) 370px
    );

    background-size: 500% 500%;
    animation: gradient-animation 250s infinite;
  }
  
  .noise-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://grainy-gradients.vercel.app/noise.svg') repeat;
    pointer-events: none;
    opacity: 0.55;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }